<div style="display: inline-block;" ng-if="showEditorHint()">
	  <label>
	  	 <span>Drop grouping grid columns from palette</span>
	  </label>
</div>
<div id="{{ model.svyMarkupId }}" style="height:100%; width:100%; position: relative;" ng-show="model.visible">
	<div style="height: 100%;" class="ag-table" ng-class="getStyleClass()" sablo-tabseq="model.tabSeq"></div>
	<span ng-if="isGroupView" class="ag-table-info" ng-class="dirtyCache ? 'ag-table-info-notify' : ''" svy-tooltip="model.tooltipTextRefreshData">
		<i ng-class="getIconRefreshData()" svy-click="purge()"/>
	</span>
</div>