/*
.ag-table.ag-fresh .ag-row-odd {
	background-color: #FFF;
}

.ag-table.ag-fresh .ag-row-odd .ag-cell-value {
	background-color: #F6F6F6
}

*/
.ag-table-info {
	position: absolute;
	top: 15px;
	right: 15px;
}

.ag-table-info-notify {
	color: #f0ad4e;
}

.ag-table-image-cell {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
}

.ag-table-header-tooltip {
	visibility: hidden;	
	background-color: black;
	opacity:1;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 7px;
	margin-top:30px;
	position: fixed;
	z-index: 999;
    overflow: visible;    
}

.ag-table-header-tooltip:after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
	position: absolute;
}

.ag-header-cell-label:hover .ag-table-header-tooltip {
	visibility: visible;
}

.ag-popup-editor {
	z-index: 1;
}

/*  
 * hide scroll bar on the side panel 
 */ 
.ag-primary-cols-list-panel { 
	overflow-x: hidden !important; 
} 

/*
 * styling for overlay shown when the component is disabled
 */
data-aggrid-groupingtable .svy-readonly-overlay {
	background-color: rgba(255,255,255, 0.3);
}