/*
.ag-table.ag-fresh .ag-row-odd {
	background-color: #FFF;
}

.ag-table.ag-fresh .ag-row-odd .ag-cell-value {
	background-color: #F6F6F6
}

*/
.ag-table-info {
	position: absolute;
	top: 15px;
	right: 15px;
}

.ag-table-info-notify {
	color: #f0ad4e;	
}

.svy-celleditor {
	width: 100%;
	height: 100%;
}