[submodule "svyMicroSamples"]
	path = svyMicroSamples
	url = https://github.com/Servoy/svyMicroSamples
[submodule "example-solutions"]
	path = example-solutions
	url = https://github.com/Servoy/example-solutions
