.ag-table-info {
	position: absolute;
	top: 4px;
	right: 15px;
}

.ag-table-info-notify {
	color: #f0ad4e;
}

.ag-table-image-cell {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
}

.ag-table-header-tooltip {
	visibility: hidden;	
	background-color: black;
	opacity:1;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 7px;
	margin-top:30px;
	position: fixed;
	z-index: 999;
    overflow: visible;    
}

.ag-table-header-tooltip:after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
	position: absolute;
}

.ag-header-cell-label:hover .ag-table-header-tooltip {
	visibility: visible;
}

.design-mode {
	display: block;
}

.ag-radio-filter {
	display: block;
	padding: 2px;
}

.ag-floating-filter .ag-radio-filter {
	display: inline-flex;
}

#nggridformeditor > * > .svy-respform {
	height: 100%;
}