.ag-table-info {
	position: absolute;
	top: 4px;
	right: 15px;
}

.ag-table-info-notify {
	color: #f0ad4e;
}

.ag-table-image-cell {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
}

.design-mode {
	display: block;
}

.ag-radio-filter {
	display: block;
	padding: 2px;
}

.ag-floating-filter .ag-radio-filter {
	display: inline-flex;
}

#nggridformeditor > * > .svy-respform {
	height: 100%;
}

.svy-header-checkbox {
	margin-right: 10px;
}