<button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>
<button id="expandAll" type="button" class="btn btn-success" ng-click="toggleGroupExpanding()">Toggle Grouping</button>
<button id="clearGrouping" type="button" class="btn btn-success" ng-click="clearGrouping()">Clear Grouping</button>
<div id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-exporter ui-grid-move-columns ui-grid-grouping class="gridDimensions"></div>