<!--<div>
<label>Number rows serverside {{numRowsFoundset}}</label>
<label>Number rows viewPort {{viewPortSize}}</label>
</div>
<div>
<button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>
<button id="expandAll" type="button" class="btn btn-success" ng-click="toggleGroupExpanding()">Toggle Grouping</button>
<button id="clearGrouping" type="button" class="btn btn-success" ng-click="clearGrouping()">Clear Grouping</button>
<!--
<label>Enable Pdf Export </label>&nbsp<input type="checkbox" ng-model="pdfEnabled"/>
<label>Enable Csv Export </label>&nbsp<input type="checkbox" ng-model="csvEnabled"/>
</div>
-->
<div id="grid1" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-exporter ui-grid-treebase ui-grid-grouping ui-grid-move-columns ui-grid-pinning class="ui-grid-filter"></div>